<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devolver Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Devolver Livro</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Página Inicial</a></li>
                <li><a href="{{ url_for('add_book') }}">Adicionar Livro</a></li>
                <li><a href="{{ url_for('list_books') }}">Listar Livros</a></li>
                <li><a href="{{ url_for('lend_book') }}">Emprestar Livro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form method="post" action="{{ url_for('return_book') }}">
            <label for="book_id">ID do Livro:</label>
            <input type="text" id="book_id" name="book_id" required>
            <br>
            <button type="submit">Devolver Livro</button>
        </form>
    </main>
</body>
</html>
